<h1>Welcome to Soundsphere</h1>
<%= form_for @track do |f| %>
  <%= f.text_field :title, placeholder: 'title' %>
  <%= f.text_field :artist, placeholder: 'artist' %>
  <%= f.submit :"Create" %>
  <%= notice %>
<%end%>
<ul> <% @alltracks.each do |t| %>
   <li> 
     <%= t.title %> 
     <%= t.artist %> 
  </li>

     <%end%>
</ul>
